# Don't send build artifacts to Docker daemon
vendor/
!vendor/rcheevos/
coverage/
tmp/
**/*.gem
**/*.bundle
**/*.so
**/*.o
**/*.dSYM
**/Makefile
**/mkmf.log
.git
.gitignore
.dockerignore
README.md
CHANGELOG.md
