<div id="nav-breadcrumb" class="nav-breadcrumb"></div>
<ul class="nav flex-column" data-nav>
  <li class="nav-item">
    <a class="nav-link" data-nav-link href="{{ '/' | relative_url }}">Home</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" data-nav-link href="{{ '/internals' | relative_url }}">Internals</a>
  </li>
  <li><hr class="my-2"></li>

      <li class="nav-item" data-nav-item data-path="Gemba" data-name="Gemba">



        <div data-nav-row>
          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/' | relative_url }}" data-turbo-frame="main-content" data-expand-target="nav-Gemba">Gemba</a>
          <a data-nav-chevron="nav-Gemba" class="collapsed" data-bs-toggle="collapse" href="#nav-Gemba" role="button" aria-expanded="false" aria-controls="nav-Gemba"></a>
        </div>
        <ul data-nav-children data-collapse-for="Gemba" class="collapse" id="nav-Gemba">

        <li class="nav-item" data-nav-item data-path="Gemba::ChildWindow" data-name="ChildWindow" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/ChildWindow/' | relative_url }}" data-turbo-frame="main-content">ChildWindow</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::Locale" data-name="Locale" data-parent="Gemba">



          <div data-nav-row>
            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/Locale/' | relative_url }}" data-turbo-frame="main-content" data-expand-target="nav-Gemba-Locale">Locale</a>
            <a data-nav-chevron="nav-Gemba-Locale" class="collapsed" data-bs-toggle="collapse" href="#nav-Gemba-Locale" role="button" aria-expanded="false" aria-controls="nav-Gemba-Locale"></a>
          </div>
          <ul data-nav-children data-collapse-for="Gemba::Locale" class="collapse" id="nav-Gemba-Locale">

          <li class="nav-item" data-nav-item data-path="Gemba::Locale::Translatable" data-name="Translatable" data-parent="Gemba::Locale">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/Locale/Translatable/' | relative_url }}" data-turbo-frame="main-content">Translatable</a>

          </li>

          </ul>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::CLI" data-name="CLI" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/CLI/' | relative_url }}" data-turbo-frame="main-content">CLI</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::Config" data-name="Config" data-parent="Gemba">



          <div data-nav-row>
            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/Config/' | relative_url }}" data-turbo-frame="main-content" data-expand-target="nav-Gemba-Config">Config</a>
            <a data-nav-chevron="nav-Gemba-Config" class="collapsed" data-bs-toggle="collapse" href="#nav-Gemba-Config" role="button" aria-expanded="false" aria-controls="nav-Gemba-Config"></a>
          </div>
          <ul data-nav-children data-collapse-for="Gemba::Config" class="collapse" id="nav-Gemba-Config">

          <li class="nav-item" data-nav-item data-path="Gemba::Config::PerGameProxy" data-name="PerGameProxy" data-parent="Gemba::Config">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/Config/PerGameProxy/' | relative_url }}" data-turbo-frame="main-content">PerGameProxy</a>

          </li>

          </ul>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::Core" data-name="Core" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/Core/' | relative_url }}" data-turbo-frame="main-content">Core</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::GamepadMap" data-name="GamepadMap" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/GamepadMap/' | relative_url }}" data-turbo-frame="main-content">GamepadMap</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::HeadlessPlayer" data-name="HeadlessPlayer" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/HeadlessPlayer/' | relative_url }}" data-turbo-frame="main-content">HeadlessPlayer</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::HotkeyMap" data-name="HotkeyMap" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/HotkeyMap/' | relative_url }}" data-turbo-frame="main-content">HotkeyMap</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::KeyboardMap" data-name="KeyboardMap" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/KeyboardMap/' | relative_url }}" data-turbo-frame="main-content">KeyboardMap</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::OverlayRenderer" data-name="OverlayRenderer" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/OverlayRenderer/' | relative_url }}" data-turbo-frame="main-content">OverlayRenderer</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::Player" data-name="Player" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/Player/' | relative_url }}" data-turbo-frame="main-content">Player</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::Recorder" data-name="Recorder" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/Recorder/' | relative_url }}" data-turbo-frame="main-content">Recorder</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::RecorderDecoder" data-name="RecorderDecoder" data-parent="Gemba">



          <div data-nav-row>
            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RecorderDecoder/' | relative_url }}" data-turbo-frame="main-content" data-expand-target="nav-Gemba-RecorderDecoder">RecorderDecoder</a>
            <a data-nav-chevron="nav-Gemba-RecorderDecoder" class="collapsed" data-bs-toggle="collapse" href="#nav-Gemba-RecorderDecoder" role="button" aria-expanded="false" aria-controls="nav-Gemba-RecorderDecoder"></a>
          </div>
          <ul data-nav-children data-collapse-for="Gemba::RecorderDecoder" class="collapse" id="nav-Gemba-RecorderDecoder">

          <li class="nav-item" data-nav-item data-path="Gemba::RecorderDecoder::FfmpegNotFound" data-name="FfmpegNotFound" data-parent="Gemba::RecorderDecoder">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RecorderDecoder/FfmpegNotFound/' | relative_url }}" data-turbo-frame="main-content">FfmpegNotFound</a>

          </li>

          <li class="nav-item" data-nav-item data-path="Gemba::RecorderDecoder::FormatError" data-name="FormatError" data-parent="Gemba::RecorderDecoder">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RecorderDecoder/FormatError/' | relative_url }}" data-turbo-frame="main-content">FormatError</a>

          </li>

          </ul>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::RomInfoWindow" data-name="RomInfoWindow" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RomInfoWindow/' | relative_url }}" data-turbo-frame="main-content">RomInfoWindow</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::RomLoader" data-name="RomLoader" data-parent="Gemba">



          <div data-nav-row>
            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RomLoader/' | relative_url }}" data-turbo-frame="main-content" data-expand-target="nav-Gemba-RomLoader">RomLoader</a>
            <a data-nav-chevron="nav-Gemba-RomLoader" class="collapsed" data-bs-toggle="collapse" href="#nav-Gemba-RomLoader" role="button" aria-expanded="false" aria-controls="nav-Gemba-RomLoader"></a>
          </div>
          <ul data-nav-children data-collapse-for="Gemba::RomLoader" class="collapse" id="nav-Gemba-RomLoader">

          <li class="nav-item" data-nav-item data-path="Gemba::RomLoader::Error" data-name="Error" data-parent="Gemba::RomLoader">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RomLoader/Error/' | relative_url }}" data-turbo-frame="main-content">Error</a>

          </li>

          <li class="nav-item" data-nav-item data-path="Gemba::RomLoader::MultipleRomsInZip" data-name="MultipleRomsInZip" data-parent="Gemba::RomLoader">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RomLoader/MultipleRomsInZip/' | relative_url }}" data-turbo-frame="main-content">MultipleRomsInZip</a>

          </li>

          <li class="nav-item" data-nav-item data-path="Gemba::RomLoader::NoRomInZip" data-name="NoRomInZip" data-parent="Gemba::RomLoader">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RomLoader/NoRomInZip/' | relative_url }}" data-turbo-frame="main-content">NoRomInZip</a>

          </li>

          <li class="nav-item" data-nav-item data-path="Gemba::RomLoader::UnsupportedFormat" data-name="UnsupportedFormat" data-parent="Gemba::RomLoader">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RomLoader/UnsupportedFormat/' | relative_url }}" data-turbo-frame="main-content">UnsupportedFormat</a>

          </li>

          <li class="nav-item" data-nav-item data-path="Gemba::RomLoader::ZipReadError" data-name="ZipReadError" data-parent="Gemba::RomLoader">

            <a class="nav-link" data-nav-link href="{{ '/api/Gemba/RomLoader/ZipReadError/' | relative_url }}" data-turbo-frame="main-content">ZipReadError</a>

          </li>

          </ul>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::SaveStateManager" data-name="SaveStateManager" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/SaveStateManager/' | relative_url }}" data-turbo-frame="main-content">SaveStateManager</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::SaveStatePicker" data-name="SaveStatePicker" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/SaveStatePicker/' | relative_url }}" data-turbo-frame="main-content">SaveStatePicker</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::SettingsWindow" data-name="SettingsWindow" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/SettingsWindow/' | relative_url }}" data-turbo-frame="main-content">SettingsWindow</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::TipService" data-name="TipService" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/TipService/' | relative_url }}" data-turbo-frame="main-content">TipService</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::ToastOverlay" data-name="ToastOverlay" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/ToastOverlay/' | relative_url }}" data-turbo-frame="main-content">ToastOverlay</a>

        </li>

        <li class="nav-item" data-nav-item data-path="Gemba::VirtualKeyboard" data-name="VirtualKeyboard" data-parent="Gemba">

          <a class="nav-link" data-nav-link href="{{ '/api/Gemba/VirtualKeyboard/' | relative_url }}" data-turbo-frame="main-content">VirtualKeyboard</a>

        </li>

        </ul>

      </li>

</ul>
